<div>
<mat-toolbar>
    Simple Shopping Cart App 
  </mat-toolbar>
<mat-card>
    <mat-card-title>Select from product catalog</mat-card-title>
  <form [formGroup]="addCartItemForm">
    <mat-form-field>
        <mat-label>Current User # (any)</mat-label>
      <input matInput placeholder="12" required formControlName="userId">
    </mat-form-field>
    <mat-table [dataSource]="products" class="mat-elevation-z8">
    
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Product Name </mat-header-cell>
        <mat-cell *matCellDef="let element" > {{element.name}} 
            <input [hidden]="true" value={{element.id}} ng-="productId">
        </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
              <mat-cell *matCellDef="let element">   
              <mat-form-field>
                <input matInput id="quantity{{element.id}}" value=0>
              </mat-form-field>
             </mat-cell>
        </ng-container>

      <ng-container matColumnDef="submit">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <button mat-raised-button color="primary" (click)="addCartItemSubmit(element.id)">Add To Cart</button> 
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </form>
</mat-card>
<mat-divider></mat-divider>
<mat-card>
  <mat-card-title>View shopping cart for user</mat-card-title>
  <form [formGroup]="viewCartForm">
      <mat-form-field>
          <mat-label>Current User ID</mat-label>
        <input matInput placeholder="12" required formControlName="userId">
      </mat-form-field>
      <button mat-raised-button color="primary"  (click)="viewCartSubmit()">Submit</button> 
  
      <mat-table [dataSource]="cartItems" class="mat-elevation-z8">
        <ng-container matColumnDef="productName">
          <mat-header-cell *matHeaderCellDef> Product Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.productName}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
        </ng-container>
        
          <ng-container matColumnDef="quantity">
              <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
            </ng-container>
        
        <ng-container matColumnDef="remove">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <button mat-raised-button color="warn"  (click)="removeCartItem(element.id)">Remove</button> 
          </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedCartColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedCartColumns;"></mat-row>
      </mat-table>
    </form>
  </mat-card>
</div>